<div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-danger">
        <div class="inner">
            <h3>{block content}{/block}</h3>

            <p n:ifset="title">{include title}</p>
        </div>
        <div class="icon">
            <i class="fa fa-chart-pie"></i>
        </div>
    </div>
</div>
